<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros Guardados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registros Guardados</h1>

        {% for key, grupo in recolectores_agrupados.items() %}
            <h2>Recolector: {{ key }}</h2>
            <table class="recolectores">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cantidad Recolectada (kg)</th>
                        <th>Total con Alimentación</th>
                        <th>Total sin Alimentación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recolector in grupo %}
                    <tr>
                        <td>{{ recolector.nombre }}</td>
                        <td>{{ recolector.apellido }}</td>
                        <td>{{ recolector.cantidad_recolectada }}</td>
                        <td>{{ recolector.total_alimentacion }}</td>
                        <td>{{ recolector.total_no_alimentacion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        
        <h2>Total con Alimentación: {{ total_alimentacion }}</h2>
        <h2>Total sin Alimentación: {{ total_no_alimentacion }}</h2>

        <form method="post" action="/borrar_registros">
            <button type="submit" class="btn">Borrar registros</button>
        </form>
        <a href="/tabla_recolectores" class="btn">Volver a la tabla de recolectores</a>
        <a href="/" class="btn">Volver a la página principal</a>
    </div>
</body>
</html>










