body {
    font-family: Arial, sans-serif;
    background-color: #f0fff0; /* Verde claro */
    color: #333;
}

.total_vendido {
    
    color: #000000; /* Negro */
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #b80000; /* Rojo */
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
    color: #b80000; /* Rojo */
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3cb371; /* Verde */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.btn:hover {
    background-color: #2e8b57; /* Verde más oscuro */
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #b80000; /* Rojo */
    color: white;
}

td {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/** Movil **/
@media (max-width: 767px) {
    .ordenador {
        display: none;
    }

    .tablet {
        display: none;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
         
}

/** Tablet **/
@media (min-width: 768px) and (max-width: 990px) {
    .ordenador {
        display: none;
    }

    .movil {
        display: none;
    }
}

/** Escritorio **/
@media (min-width: 991px) {
    .tablet {
        display: none;
    }

    .movil {
        display: none;
    }
}   
